@page "/cursos"
@inherits ListCursosPage

<MudText Typo="Typo.h3">Lista de Cursos</MudText>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.TwoTone.Add" Href="/cursos/adicionar">Adicionar</MudButton>
</div>

<MudDataGrid Class="mt-4" Items="@Cursos" Filterable="true" QuickFilter="Filter" Hideable="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Cursos </MudText>
        <MudSpacer />
        <MudTextField @bind-Value="SearchTerm"
                      Placeholder="Filtar..."
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Immediate="true"
                      IconSize="Size.Medium"
                      Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#" Sortable="true" />
        <PropertyColumn Property="x => x.Nome" Title="Nome" />
        <PropertyColumn Property="x => x.Categoria" Title="Categoria" />
        <TemplateColumn Class="d-flex justifity-end">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                   Href="@($"/cursos/editar/{context.Item.Id}")"
                                   Color="Color.Primary">
                    </MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   arial-Label="Excluir"
                                   OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Nome)">
                    </MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>


